*.aaa
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fff
*.fls
*.gz
*.log
*.nav
*.o
*.out
*.snm
*.toc
*.ttt
*.txt
*.vrb

### R nonsense ###
cache
figures
.Rhistory
*-Ex.R

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### python files
.ipynb_checkpoints/

### gitbook stuff
node_modules
_book